#scheudle-today {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  .line {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    background-color: var(--bg-color-secondery);
  }
}

@media (max-width: 768px) {
  #scheudle-today {
    padding: 30px;
    align-items: center;
  }
}
