.app-container {
  display: flex;
}

app-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--bg-color-light);
  box-shadow: var(--box-shadow);
  z-index: var(--z-index-default);
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

app-navbar {
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  z-index: var(--z-index-default);
}

.content-container {
  display: flex;
  flex: 1;
  height: auto;
  width: calc(100vw - 100px);
  overflow: auto;
  background-color: var(--bg-color-light);
}

app-home {
  flex: 1;
  height: 100%;
  background-color: var(--bg-color-light);
}

app-scheudle-today {
  width: var(--scheudle-width);
  background-color: var(--color-white);
  z-index: var(--z-index-default);
}

@media (max-width: 1200px) {
  app-sidebar {
    width: 70px;
  }
  .content-container {
    width: max(calc(100vw - 87px), 100%) !important;
  }
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  app-sidebar {
    display: none;
  }

  app-navbar {
    width: 100%;
  }

  .content-container {
    flex-direction: column;
  }

  app-home {
    margin-right: 0;
  }

  app-scheudle-today {
    width: 100%;
  }
}

::ng-deep {
  svg {
    cursor: pointer;
  }
}
