<div class="icons-container">
  <div class="four-squares">
    <app-svg-icon [src]="assetsPath + 'svgs/sidebar/four-squares.svg'"/>
  </div>
  <div class="">
    <app-svg-icon [src]="assetsPath + 'svgs/sidebar/pin.svg'"/>
  </div>
  <div>
    <app-svg-icon [src]="assetsPath + 'svgs/sidebar/book.svg'"/>
  </div>
  <div>
    <app-svg-icon [src]="assetsPath + 'svgs/sidebar/setting.svg'"/>
  </div>
  <div>
    <app-svg-icon [src]="assetsPath + 'svgs/sidebar/send.svg'"/>
  </div>
  <div>
    <app-svg-icon [src]="assetsPath + 'svgs/sidebar/new-file.svg'"/>
  </div>
</div>
